*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body {
	background: radial-gradient(#FFFFFF, #DFDFDF) fixed;
	width:100%;
	height: 100%;
}
.title{
	float: left;
	width: 25%;
}
.title img{
	width:80%;
	position: relative;
	left: 10%;
}
.table2 img{
	width: 90%;
	position: relative;
	left: 5%;
}
#container{
	position: relative;
	height: 100%;
	max-width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
#sec01{
	display: none;
	width: 100%;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#loading{
	position:relative;
	left:50%;
	top:40%;
	margin-left:-30px;
}
#sec02{
	width: 100%;
	display: none;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}